#home{
    display: grid;
    grid-template-areas: 
    ". . . . ."
    ". sobre sobre sobre ."
    ". . . . ."
    ". skills skills skills ."
    ". . . . ."
    ". infos infos infos ."
    ". . . . ."
    ;
    height: 100vh;
}
.background_color{
    grid-area: sobre;
    background-color: #ffffff;
}
#sobre{
    grid-area: sobre;
    text-align: center;
    align-self: center;
    justify-self: center;
    
}
.gradient{
    background-image: linear-gradient(to right, #2264ED, #00A3FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#skills{
    grid-area: skills;
    background-color: #ffffff;
}
h2{
    margin-left: 1rem;
}
.techs{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
.techs li{
    width: 5rem;
    height: 5rem;
}
#infos{
    display: flex;
    align-items: center;
    grid-area: infos;
    background-color: #ffffff;
}
.card{
    text-align: center;
    margin: 2vw;
}