@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "MontSerrat", sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}
.perfil{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.perfil img{
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
}
.navbar{
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
    width: 18vw;
    padding: 0;
}