@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "MontSerrat", sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}
.perfil{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 16vw;
}
.perfil img{
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 18vw;
    padding: 0;
}