@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "MontSerrat", sans-serif;
    background-color: #F7F9FB;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30rem;
    height: 7vh;
    background-color: #ffffff;
}
.perfil{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.navbar{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 25vw;
    padding: 0;
}
.talk button{
    background-color: #1E6DF0;
    color: white;
    border: none;
    border-radius: 0.25rem;
    width: 8rem;
    height: 2rem;
}